<%- include("partials/loggedheader") -%>

<div class="container">
    <form class="row g-3" action="/quote" method="POST">
        <div class="col-auto">
            <input type="text" class="form-control" name="symbol" placeholder="Symbol">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Quote</button>
        </div>
    </form>
</div>
<%- include("partials/footer") -%>